* {
  box-sizing: border-box;
}

header section {
  margin: auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

#titleBar {
  display: flex;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}

h2 {
  font-family:Arial, Helvetica, sans-serif;
  color: #aaa;
}

header ul:first-of-type {
  margin-right: 10px;
}

#iconLists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.listIcons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.repeatingBorder {
  margin: auto;
  margin-top: 30px;
  width: 900px;
  height: 25px;
  background-image: url("../img/hr-img.png");
}

#recipeHeading {
  width: 900px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 600%;
  font-stretch: condensed;
}

main {
  width: 900px;
  margin: auto;
  flex-wrap: wrap;
}
#postedDate {
  color: grey;
}

#printer {
  display: flex;
}

article {
  width: 900 px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

article p {
  margin-top: 30px;
  text-indent: 10px;
}

#checklist {
  display: flex;
  justify-content: space-around;
  width: 900 px;
  margin-top: 30px;
  height: 300px;
  background-image: url(../img/list-bg.png);
  line-height: 35px;
}

form {
  width: 325px;
  margin: auto;
  font-family: "Patrick Hand", cursive;
  font-size: 1.5rem;
}

.form-group {
  display: flex;
}
